## See github.com/bitnami/charts/blob/main/keycloak/values.yaml for help
keycloak:
    ## @param nameOverride String to partially override common.names.fullname
    ##
    nameOverride: "access-control-sso-system"
    ## @param fullnameOverride String to fully override common.names.fullname
    ##
    fullnameOverride: "access-control-sso-system"

    ## Keycloak authentication parameters
    ## ref: https://github.com/bitnami/containers/tree/main/bitnami/keycloak#admin-credentials
    ##
    auth:
      ## @param auth.adminUser Keycloak administrator user
      ##
      adminUser: admin
      ## @param auth.adminPassword Keycloak administrator password for the new user
      ##
      adminPassword: "admin"

      ## If non static admin password used, and password which should be managed over a K8 secret resource
      #existingSecret: "keycloak-admin-password" ## Secret name
      passwordSecretKey: "postgresql-password"

    ## Run Keycloak in production mode. TLS configuration is required except when using proxy headers
    production: false

    ## @param nodeSelector Node labels for pod assignment
    ## Assigning to node dedicated to layer
    ## cybnity.io/domains-io-area: "true"
    ## cybnity.io/domains-area: "true"
    ## cybnity.io/user-interfaces-area: "true"
    ## cybnity.io/infrastructure-services-area: "true"
    nodeSelector:
      cybnity.io/user-interfaces-area: "true"

    ## @param replicaCount Number of Keycloak replicas to deploy
    ##
    replicaCount: 3

    ## @param hostnameStrict Disables dynamically resolving the hostname from request headers (ignored if ingress.enabled is false).
    ## Should always be set to true in production, unless your reverse proxy overwrites the Host header.
    ## If enabled, the ingress.hostname option needs to be specified.
    ##
    hostnameStrict: false
    ## @param adminRealm Name of the admin realm
    ##
    adminRealm: "master"

    ## Service configuration
    ##
    service:
      ## Type of exposure for service
      ## LoadBalancer to expose Keycloak to external users (allow distribution automated of traffic between the Keycloak Pods fof HA and adapted for high traffic volumes); accessible from outside the cluster via a load balancer
      ## ClusterIP if only internal communications between application components with Keycloak. Only accessible from the cluster
      type: LoadBalancer

    ## Keycloak ingress parameters
    ## ref: https://kubernetes.io/docs/concepts/services-networking/ingress/
    ## Make HTTP (or HTTPS) network service available (Layer 7: application layer) to expose routes from outside the cluster to services within the cluster. Traffis routing is controlled by rules defined on the Ingress resouce.
    ##
    ingress:
      ## ingress.enabled Enable ingress recor generation for Keycloak
      enabled: false
      ## @param ingress.hostname Default host for the ingress record (evaluated as template)
      ##
      hostname: keycloak.local ## Default value

    ## @section Metrics parameters
    ##

    ## Metrics configuration
    ##
    metrics:
      ## @param metrics.enabled Enable exposing Keycloak statistics
      ## ref: https://github.com/bitnami/containers/tree/main/bitnami/keycloak#enabling-statistics
      ##
      enabled: true
      ## Keycloak metrics service parameters
      ##
      service:
        ## @param metrics.service.annotations [object] Annotations for enabling prometheus to access the metrics endpoints
        ##
        annotations:
          prometheus.io/scrape: "true"
          prometheus.io/port: "{{ .Values.metrics.service.ports.http }}"

    ## @section Exposure parameters
    ##
    ## Network Policy configuration
    ## ref: https://kubernetes.io/docs/concepts/services-networking/network-policies/
    ##
    networkPolicy:
      ## @param networkPolicy.enabled Enable the default NetworkPolicy policy
      ##
      enabled: true
      ## @param networkPolicy.allowExternal Don't require client label for connections
      ## The Policy model to apply. When set to false, only pods with the correct
      ## client label will have network access to the ports Keycloak is listening
      ## on. When true, Keycloak will accept connections from any source
      ## (with the correct destination port).
      ##
      allowExternal: false

    ## @section keycloak-config-cli parameters

    ## Configuration for keycloak-config-cli
    ## ref: https://github.com/adorsys/keycloak-config-cli
    ##
    keycloakConfigCli:
      ## @param keycloakConfigCli.enabled Whether to enable keycloak-config-cli job
      ##
      enabled: false
      nodeSelector:
        cybnity.io/user-interfaces-area: "true"

    persistence:
      existingSecretUsernameKey: "persistenceCustomDBUsernameKey" ## Key for the database user name used into the secret generated (when empty, the value of keycloak.persistence.dbUser is applied)

    ## PostgreSQL chart configuration
    postgresql:
      nameOverride: "access-control-db-system"
      fullnameOverride: "access-control-db-system"
      enabled: true
      auth:
        postgresPassword: "bitnami" ## Password for the 'portgre' admin user. Ignored if 'auth.existingSecret' with key 'postgres-password' is provided
        username: bn_keycloak ## Name for a custom user to create
        password: "bitnami" ## Password for the custom user to create
        database: bitnami_keycloak ## Name for a custom database to create
        existingSecret: "" ## Name of existing secret to use for PostgreSQL credentials
        secretKeys:
          userPasswordKey: "password" ## Name of key in existing secret to use for PostgreSQL credentials. Only used when 'auth.existingSecret' is set
      architecture: standalone ## PostgreSQL architecture ('standalone' or 'replication')

      ## @section PostgreSQL Primary parameters
      ##
      primary:
        nodeSelector:
          cybnity.io/user-interfaces-area: "true"
      ## @section PostgreSQL read only replica parameters (only used when `architecture` is set to `replication`)
      ##
      readReplicas:
        nodeSelector:
          cybnity.io/user-interfaces-area: "true"
      ## @section Backup parameters
      ## This section implements a trivial logical dump cronjob of the database.
      ## This only comes with the consistency guarantees of the dump program.
      ## This is not a snapshot based roll forward/backward recovery backup.
      ## ref: https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/
      backup:
        nodeSelector:
          cybnity.io/user-interfaces-area: "true"

    ## External PostgreSQL configuration
    ## All of these values are only used when postgresql.enabled is set to false
    ## @param externalDatabase.host Database host
    ## @param externalDatabase.port Database port number
    ## @param externalDatabase.user Non-root username for Keycloak
    ## @param externalDatabase.password Password for the non-root username for Keycloak
    ## @param externalDatabase.database Keycloak database name
    ## @param externalDatabase.existingSecret Name of an existing secret resource containing the database credentials
    ## @param externalDatabase.existingSecretPasswordKey Name of an existing secret key containing the database credentials
    ##
    externalDatabase:
      host: "" ## Database host
      port: 5432 ## Database port number
      user: bn_keycloak ## Non-root username for Keycloak
      database: bitnami_keycloak ## Keycloak database name
      password: "bitnami" ## Password for the non-root username for Keycloak  (must be equals to postgresql.auth.password)
      schema: public ## Keycloak database schema
      existingSecret: "keycloak-postgresql" ## Name of an existing secret resource containing the database credentials
      existingSecretUserKey: "" ## Name of an existing secret key containing the database user
      existingSecretPasswordKey: "postgresql-password" ## Name of an existing secret key containing the database credentials
      annotations: {} ## Additional custom annotations for external database secret object
      extraParams: "" ## Additional JDBC connection parameters appended to the JDBC URL (KC_DB_URL)
