# Default values regarding CANDIDATE or PERFORMANT version of cybnity-platform packaged systems.
# The version of cybnity-platform is based on latest stable versions of application components (and optionnaly evaluated regarding its level of performance) that are currently eligible for deploymnent into a production environment.

# Global deployment values that are common to all implementation module selected for deployment
# and that can be accessed by any sub-module Templae from .Values.global.<<value_name>>
# Each value defined in global set, are available to all charts
global:
  version: "1.0.0"
  app: cybnity # Allocation name about of started sub-chart dedicated to a cybnity-platform deployment

  imageRegistry: ""

  ## E.g.
  ## imagePullSecrets:
  ##   - myRegistryKeySecretName
  ##
  imagePullSecrets: []
  defaultStorageClass: ""
  ## Security parameters
  ##
  security:
    ## @param global.security.allowInsecureImages Allows skipping image verification
    allowInsecureImages: false

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: cybnity/cybnity-platform
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []

#resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

## --- KUBERNETES TEMPLATES values ---

# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

selectorLabels: {}

# Cybnity platform common labels
labels: {}

annotations: {}
  #certmanager.k8s.io/disable-validation: "true"

## --- DEFAULT PROFILING OF SUB-PROJECTS regarding cybnity-platform infrastructure modules deployed ---
## Custom redefined value according to the version deployed of application systems

knowledge-repository:
  janusgraph:
    ## @param replicaCount Number of Graph server replicas to deploy
    ##
    replicaCount: 2

    cassandra:
      ## @param replicaCount Number of Cassandra replicas
      ##
      replicaCount: 1


domains-interactions-space:
  kafka:
    controller:
      ## @param controller.replicaCount Number of Kafka controller-eligible nodes
      ## Ignore this section if running in Zookeeper mode.
      ##
      replicaCount: 1

users-interactions-space:
  redis:
    ## @param architecture Redis&reg; architecture. Allowed values: `standalone` or `replication`
    ##
    architecture: replication

    replica:
      ## @param replica.kind Use either DaemonSet or StatefulSet (default)
      ## ref: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/
      ##
      kind: StatefulSet
      ## @param replica.replicaCount Number of Redis(R) replicas to deploy
      ##
      replicaCount: 3

access-control-sso:
  statefull:
    replicas: 1

## --- DEFAULT PROFILING OF SUB-PROJECTS regarding cybnity-platform application modules deployed ---

ui-apis-gateway:
  traefik:
    deployment:
      # -- Deployment or DaemonSet
      kind: Deployment
      # -- Number of pods of the deployment (only applies when kind == Deployment)
      replicas: 1

#reactive-messaging-gateway:

#web-reactive-frontend:
