apiVersion: v2
name: knowledge-repository
version: 1.0.0  # SemVer 2 version
# @Requirement(reqType = RequirementCategory.Maintainability, reqId = "REQ_MAIN_1")
# Project description (see https://artifacthub.io/packages/helm/bitnami/janusgraph)
description: CYBNITY graph server and NoSQL database Helm chart for Kubernetes based on Janusgraph and Cassandra.

type: application

sources:
  # URLs to source code for the project
  - https://github.com/cybnity/iac-helm-charts/tree/main/cybnity-platform/charts/knowledge-repository

appVersion: "1.0.0" # Version of the app that this project contains

annotations:
  category: Infrastructure
  licenses: Apache-2.0
