## @param global.imageRegistry Global Docker image registry
## @param global.imagePullSecrets Global Docker registry secret names as an array
## @param global.defaultStorageClass Global default StorageClass for Persistent Volume(s)
##
global:
  imageRegistry: ""
  ## E.g.
  ## imagePullSecrets:
  ##   - myRegistryKeySecretName
  ##
  imagePullSecrets: []
  defaultStorageClass: ""
  ## Security parameters
  ##
  security:
    ## @param global.security.allowInsecureImages Allows skipping image verification
    allowInsecureImages: false

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: cybnity-platform
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

# This is to override the chart name.
nameOverride: "knr-system"
fullnameOverride: "knr-system"

replicaCount: 1

# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
#podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
#podLabels: {}

#podSecurityContext: {}
  # fsGroup: 2000

#securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# Additional volumes on the output Deployment definition.
#volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
#volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector:
  cybnity.io/infrastructure-services-area: "true"

#tolerations: []

#affinity: {}

#resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

## @param module labels for the deployed component
##   app.kubernetes.io/component (architecture level): <<name of implemented via>> (see https://www.notion.so/cybnity/5a681e57f2164d4f8a3f228129294db9?v=348e6a0d04e449f883616c948abec85d) as ui, application, domain, infrastructure, security-control
##   app.kubernetes.io/part-of (application level): <<name of deploybale system>> (see https://cybnity.notion.site/5a681e57f2164d4f8a3f228129294db9?v=02fde7cb6f8e4d69b8497d6ca97e4316); for e.g. Asset Control Domain Gateway
##
labels:
  app.kubernetes.io/component: infrastructure
  app.kubernetes.io/part-of: knowledge-repository-server

janusgraph:
  ## @param nameOverride String to partially override common.names.name
  nameOverride: "janusgraph-system"
  fullnameOverride: "janusgraph-system"

  # Specific PVC usage in root mode (see https://docs.bitnami.com/general/how-to/troubleshoot-helm-chart-issues/#persistence-volumes-pvs-retained-from-previous-releases)
  volumePermissions:
    enabled: true

  ## @param replicaCount Number of Graph server replicas to deploy
  ## Default: 2
  ##
  replicaCount: 1

  cassandra:
    ## @param replicaCount Number of Cassandra replicas
    ##
    replicaCount: 1

    ## @param nameOverride String to partially override common.names.name
    nameOverride: "cassandra-db-system"
    fullnameOverride: "cassandra-db-system"

    # SWITCH TO DECOMMISSIONED DOCKER IMAGES to resolve default decommissionned Cassandra Bitnami helm project
    #image:
    #  registry: docker.io
    #  repository: bitnamilegacy/cassandra
    #  tag: 5.0.5-debian-12-r7

    #dynamicSeedDiscovery:
    #  image:
    #    registry: docker.io
    #    repository: bitnamilegacy/os-shell
    #    tag: 12-debian-12-r50


    ## Init containers parameters:
    ## volumePermissions: Change the owner and group of the persistent volume mountpoint to runAsUser:fsGroup values from the securityContext section.
    ##
    volumePermissions:
      ## @param volumePermissions.enabled Enable init container that changes the owner and group of the persistent volume
      ##
      enabled: true
      #image:
      #  registry: docker.io
      #  repository: bitnamilegacy/os-shell
      #  tag: 12-debian-12-r50

    ## Database credentials
    ## @param dbUser.user Cassandra admin user
    ## @param dbUser.forcePassword Force the user to provide a non
    ## @param dbUser.password Password for `dbUser.user`. Randomly generated if empty
    ## @param dbUser.existingSecret Use an existing secret object for `dbUser.user` password (will ignore `dbUser.password`)
    ##
    dbUser:
      user: admin
      forcePassword: false
      password: "LKJJH6dgu"
