apiVersion: v2
name: users-interactions-space
version: 1.0.0  # SemVer 2 version
# @Requirement(reqType = RequirementCategory.Maintainability, reqId = "REQ_MAIN_1")
description: Redis distributed streaming supporting CYBNITY user interfaces capabilities.

type: application

sources:
  # URLs to source code for the project
  - https://github.com/cybnity/iac-helm-charts/tree/main/cybnity-platform/charts/users-interactions-space

# list of sub-chart required
dependencies:
  - condition: redis.enabled
    name: redis
    version: "19.5.5"
    repository: https://charts.bitnami.com/bitnami # URL of the Bitnami repository

appVersion: "1.0.0" # Version of the app that this project contains

annotations:
  category: Infrastructure
  licenses: Apache-2.0
