apiVersion: v2
name: users-interactions-space
version: 1.0.0  # SemVer 2 version
# @Requirement(reqType = RequirementCategory.Maintainability, reqId = "REQ_MAIN_1")
description: Redis distributed streaming supporting CYBNITY user interfaces capabilities. Redis(R) is an open source, scalable, distributed in-memory cache for applications. It can be used to store and serve data in the form of strings, hashes, lists, sets and sorted sets.

home: https://cybnity.org
icon: https://dyltqmyl993wv.cloudfront.net/assets/stacks/redis/img/redis-stack-220x234.png
type: application

sources:
  # URLs to source code for the project
  - https://github.com/cybnity/iac-helm-charts/tree/main/cybnity-platform/charts/users-interactions-space

maintainers:
- name: CYBNITY
  url: https://github.com/cybnity/iac-helm-charts

annotations:
  category: Infrastructure
  licenses: Apache-2.0

appVersion: "1.0.0" # Version of the app that this project contains
