apiVersion: v2
name: ui-apis-gateway
version: 1.0.0  # SemVer 2 version
# @Requirement(reqType = RequirementCategory.Maintainability, reqId = "REQ_MAIN_1")
description: API proxy of the user interfaces layer.

type: application

sources:
  # URLs to source code for the project
  - https://github.com/cybnity/iac-helm-charts/tree/main/cybnity-platform/charts/ui-apis-gateway

# list of sub-chart required
dependencies:
  ## Official Traefik Docker image from https://hub.docker.com/_/traefik
  - name: traefik/traefik
    version: 39.0.0 # Free version provided on https://github.com/traefik/traefik-helm-chart/tree/master
    repository: https://traefik.github.io/charts # oci://ghcr.io/traefik/helm/traefik
    alias: traefik

appVersion: "1.0.0" # Version of the app that this project contains

annotations:
  category: Infrastructure
  licenses: Apache-2.0
