apiVersion: v2
name: ui-apis-gateway
version: 1.0.0  # SemVer 2 version
# @Requirement(reqType = RequirementCategory.Maintainability, reqId = "REQ_MAIN_1")
description: API proxy of the user interfaces layer.

type: application

sources:
  # URLs to source code for the project
  - https://github.com/cybnity/iac-helm-charts/tree/main/cybnity-platform/charts/ui-apis-gateway

# list of sub-chart required
dependencies:
  - condition: cert-manager.enabled
    name: cert-manager
    version: "1.19.1" # Free 1.19.1 version provided by ArtifactHub repo at https://artifacthub.io/packages/helm/cert-manager/cert-manager
    repository: https://charts.jetstack.io # URL of the Cert Manager repository
    alias: cert-manager

  - condition: haproxy.enabled
    name: haproxy
    version: "3.2.3" # Free ArtifactHub repo at https://artifacthub.io/packages/helm/bitnami/haproxy
    repository: oci://registry-1.docker.io/bitnamicharts # URL of the Bitnami legacy repository (non production only) publicly stored on DockerHub

appVersion: "1.0.0" # Version of the app that this project contains

annotations:
  category: Infrastructure
  licenses: Apache-2.0
