## @param global.imageRegistry Global Docker image registry
## @param global.imagePullSecrets Global Docker registry secret names as an array
## @param global.defaultStorageClass Global default StorageClass for Persistent Volume(s)
##
global:
  imageRegistry: ""
  ## E.g.
  ## imagePullSecrets:
  ##   - myRegistryKeySecretName
  ##
  imagePullSecrets: []
  defaultStorageClass: ""
  ## Security parameters
  ##
  security:
    ## @param global.security.allowInsecureImages Allows skipping image verification
    allowInsecureImages: false

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
#image:
#  repository: cybnity/cybnity-platform
  # This sets the pull policy for images.
#  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
#  tag: ""

# This is to override the chart name.
nameOverride: "ui-apis-gateway-system"
fullnameOverride: "ui-apis-gateway-system"

# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
#podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
#podLabels: {}

#podSecurityContext: {}
  # fsGroup: 2000

#securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# Additional volumes on the output Deployment definition.
#volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
#volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

# ASSIGNMENT TO THE NODE ('layer' label value relative to a cluster area)
## Node labels for pod assignment
# cybnity.io/domains-io-area: "true"
# cybnity.io/domains-area: "true"
# cybnity.io/user-interfaces-area: "true"
# cybnity.io/infrastructure-services-area: "true"
nodeSelector:
  cybnity.io/user-interfaces-area: "true"

#tolerations: []

#affinity: {}

#resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

## @param module labels for the deployed component
##   app.kubernetes.io/component (architecture level): <<name of implemented via>> (see https://www.notion.so/cybnity/5a681e57f2164d4f8a3f228129294db9?v=348e6a0d04e449f883616c948abec85d) as ui, application, domain, infrastructure, security-control
##   app.kubernetes.io/part-of (application level): <<name of deploybale system>> (see https://cybnity.notion.site/5a681e57f2164d4f8a3f228129294db9?v=02fde7cb6f8e4d69b8497d6ca97e4316); for e.g. Asset Control Domain Gateway
##
labels:
  app.kubernetes.io/component: infrastructure
  app.kubernetes.io/part-of: ui-apis-gateway

# Traefik helm values.yaml file documented at https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
# Examples of configuration in documentation at https://doc.traefik.io/traefik/reference/install-configuration/entrypoints#configuration-example
traefik:
  # Traefik Helm project chart doc at https://github.com/traefik/traefik-helm-chart
  image:
      # -- Traefik image host registry
      registry: docker.io
      # -- Traefik image repository
      repository: traefik
      # -- defaults to appVersion. It's used for version checking, even prefixed with experimental- or latest-.
      # When a digest is required, `versionOverride` can be used to set the version.
      tag: ""
      # -- Traefik image pull policy
      pullPolicy: IfNotPresent

  nodeSelector:
    cybnity.io/user-interfaces-area: "true"

  # @schema mergeProperties: true
  ports:
    # @schema additionalProperties: false
    traefik:
      port: 8080
      # Defines whether the port is exposed if service.type is LoadBalancer or
      # NodePort.
      #
      # -- You SHOULD NOT expose the traefik port on production deployments.
      # If you want to access it from outside your cluster,
      # use `kubectl port-forward` or create a secure ingress
      expose:
        default: false
      # -- The exposed port for this service
      exposedPort: 8080
    web:
      port: 8000
      # hostPort: 8000
      # containerPort: 8000
      expose:
        default: true
      exposedPort: 80

    websecure:
      ## -- Enable this entrypoint as a default entrypoint. When a service doesn't explicitly set an entrypoint it will only use this entrypoint.
      # asDefault: true
      port: 8443
      hostPort:  # @schema type:[integer, null]; minimum:0
      containerPort:  # @schema type:[integer, null]; minimum:0
      expose:
        default: true
      exposedPort: 443

  ingressRoute:
    dashboard:
      # By default, don't expose the local Traefik dashboard
      # See https://doc.traefik.io/traefik/reference/install-configuration/api-dashboard/ documentation for security of dashboard api
      enabled: false
      # Custom match rule with default host domain
      # Exposed on dashboard at http://dashboard.localhost/dashboard/ url
      matchRule: Host(`dashboard.localhost`)
      entryPoints:
        - web

  # Enable Gateway API Provider & Disables the KubernetesIngress provider
  # Providers tell Traefik where to find routing configuration.
  providers:
    kubernetesCRD:
      # See configuration options at https://doc.traefik.io/traefik/reference/install-configuration/providers/kubernetes/kubernetes-crd/
      # Exposure based on Kubernetes CRD (e.g. IngressRoute resource) per application service (e.g. access-control-sso application service)
      enabled: true
    kubernetesIngress:
      # Recommende to use Kubernetes Gateway API more sustainable than Ingress API controller
      enabled: false
    kubernetesGateway:
      # Enable the Kubernetes Gateway API specification support for configure ingress in Kubernetes
      # Automatic created default GatewayClass named traefik (see Gateway API doc at https://gateway-api.sigs.k8s.io/)
      enabled: true

  ## Gateway Listeners
  gateway:
    # Custom name to gateway
    name: "ui-apis-gateway"
    # -- By default, Gateway is created in the same `Namespace` as Traefik.
    namespace: ""
    # -- Additional gateway annotations (e.g. for cert-manager.io/issuer)
    annotations: {}
    # -- [Infrastructure](https://kubernetes.io/blog/2023/11/28/gateway-api-ga/#gateway-infrastructure-labels)
    infrastructure: {}
    # -- Configure this Gateway as a [Default Gateway](https://kubernetes.io/blog/2025/11/06/gateway-api-v1-4/#introducing-default-gateways)
    # by setting the `defaultScope` field (e.g. `All` or `Namespace`).
    defaultScope: null  # @schema enum:["All", "None", null]; type:[string, null]; default: null

    listeners:
      web:
        # -- Port is the network port. Multiple listeners may use the same port, subject to the Listener compatibility rules.
        # The port must match a port declared in ports section.
        port: 8000
        # -- Optional hostname. See [Hostname](https://gateway-api.sigs.k8s.io/reference/spec/#gateway.networking.k8s.io/v1.Hostname)
        hostname: ""
        # Specify expected protocol on this listener. See [ProtocolType](https://gateway-api.sigs.k8s.io/reference/spec/#gateway.networking.k8s.io/v1.ProtocolType)
        protocol: HTTP
        # -- (object) Routes are restricted to namespace of the gateway [by default](https://gateway-api.sigs.k8s.io/reference/spec/#gateway.networking.k8s.io/v1.FromNamespaces
        namespacePolicy:  # @schema type:[object, null]
          # ALlows the Gateway to expose HTTPRoutes from all namespaces
          from: All

        # websecure listener is disabled by default because certificateRefs needs to be added,
        # or you may specify TLS protocol with Passthrough mode and add "--providers.kubernetesGateway.experimentalChannel=true" in additionalArguments section.
        #websecure:
        #   # -- Port is the network port. Multiple listeners may use the same port, subject to the Listener compatibility rules.
        #   # The port must match a port declared in ports section.
        #   port: 8443
        #   # -- Optional hostname. See [Hostname](https://gateway-api.sigs.k8s.io/reference/spec/#gateway.networking.k8s.io/v1.Hostname)
        #   hostname:
        #   # Specify expected protocol on this listener See [ProtocolType](https://gateway-api.sigs.k8s.io/reference/spec/#gateway.networking.k8s.io/v1.ProtocolType)
        #   protocol: HTTPS
        #   # -- Routes are restricted to namespace of the gateway [by default](https://gateway-api.sigs.k8s.io/reference/spec/#gateway.networking.k8s.io/v1.FromNamespaces)
        #   namespacePolicy:
        #   # -- Add certificates for TLS or HTTPS protocols. See [GatewayTLSConfig](https://gateway-api.sigs.k8s.io/reference/spec/#gateway.networking.k8s.io%2fv1.GatewayTLSConfig)
        #   certificateRefs:
        #   # -- TLS behavior for the TLS session initiated by the client. See [TLSModeType](https://gateway-api.sigs.k8s.io/reference/spec/#gateway.networking.k8s.io/v1.TLSModeType).
        #   mode:
