apiVersion: v2
name: domains-interactions-space
version: 1.0.0  # SemVer 2 version
# @Requirement(reqType = RequirementCategory.Maintainability, reqId = "REQ_MAIN_1")
# Project description (see https://artifacthub.io/packages/helm/bitnami/kafka)
description: Kafka distributed streaming and CYBNITY domains collaboration platform over Kafka Raft (KRaft) protocol. Apache Kafka is a distributed streaming platform designed to build real-time pipelines and can be used as a message broker or as a replacement for a log aggregation solution for big data applications.

home: https://cybnity.org
icon: https://dyltqmyl993wv.cloudfront.net/assets/stacks/kafka/img/kafka-stack-220x234.png
type: application

sources:
  # URLs to source code for the project
  - https://github.com/cybnity/iac-helm-charts/tree/main/cybnity-platform/charts/domains-interactions-space

maintainers:
- name: CYBNITY
  url: https://github.com/cybnity/iac-helm-charts

annotations:
  category: Infrastructure
  licenses: Apache-2.0
appVersion: "1.0.0" # Version of the app that this project contains
