apiVersion: v2
name: domains-interactions-space
version: 1.0.0  # SemVer 2 version
# @Requirement(reqType = RequirementCategory.Maintainability, reqId = "REQ_MAIN_1")
# Project description (see https://artifacthub.io/packages/helm/bitnami/kafka)
description: Kafka distributed streaming and CYBNITY domains collaboration platform over Kafka Raft (KRaft) protocol.

type: application

sources:
  # URLs to source code for the project
  - https://github.com/cybnity/iac-helm-charts/tree/main/cybnity-platform/charts/domains-interactions-space

# list of sub-chart required
dependencies:
  - condition: kafka.enabled
    name: kafka
    version: ">=32.4.4" # Kakfa Bitnami Helm project documentation at https://github.com/bitnami/charts/blob/main/bitnami/kafka/README.md
    repository: oci://registry-1.docker.io/bitnamicharts #https://charts.bitnami.com/bitnami # URL of the Bitnami repository

appVersion: "1.0.0" # Version of the app that this project contains

annotations:
  category: Infrastructure
  licenses: Apache-2.0
