name: Package & Publish Workflow
run-name: PACKAGING & DOCKERHUB PUBLISH
on:
  push:
    # execution when ...
    branches:
      - 'feature*'
      - 'main'
      - 'integration'
      - 'staging'
    paths:
      - '**/*.yaml'
      - '**/*.yml'
      - '**/*.json'
      - '**/*.tpl'
      - '**/*.txt'
      - '.github/workflows/*.yml'
  delete:
    # execution when ...
    branches:
      - 'feature*'
      - 'main'
      - 'integration'
      - 'staging'
    paths:
      - '**/*.yaml'
      - '**/*.yml'
      - '**/*.json'
      - '**/*.tpl'
      - '**/*.txt'

jobs:
  package:
    name: Platform Packaging
    # depending on default permission settings for the organization (contents being read-only or read-write for workloads), required to add permissions
    # see: https://docs.github.com/en/actions/security-guides/automatic-token-authentication#modifying-the-permissions-for-the-github_token
    permissions:
      contents: read
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ github.token }}
      PACKAGED_PROJECT: "cybnity-platform"
      PROJECT_VERSION: "1.0.0"
      # See doc : https://github.com/atomicfi-engineering/action-build-push-chart-oci-registry
      # Path to chart. Required
      CHART_DEST: "packages"
      # Sets whether or not to update dependencies before packaging
      # Default: true
      update-dependencies: true
    outputs:
      artifact_fullname: ${{ env.ARTIFACT_FULLNAME }}
      app_artifact_fullname: ${{ env.APP_ARTIFACT_FULLNAME }}
      alpha_artifact_fullname: ${{ env.ALPHA_ARTIFACT_FULLNAME }}
    steps:
      - name: Helm source codes checkout
        id: checkout_step
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          token: ${{ github.token }}
          ref: ${{ inputs.branch_name }}

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          
      - name: Install Helm tool
        uses: azure/setup-helm@v4

      - if: ${{ env.update-dependencies }}
        name: Update Chart Dependencies
        shell: bash
        run: |
          helm dependency update ${{ env.PACKAGED_PROJECT }}
          
      - name: Project Committed Revision Helm Packaging
        run: |
          PACKAGE_VERSION_NAME="$PROJECT_VERSION+$(git rev-parse --short "$GITHUB_SHA")"
          echo "PACKAGE_VERSION_NAME=$PACKAGE_VERSION_NAME" >> $GITHUB_ENV
          helm package ${{ env.PACKAGED_PROJECT }} --version "$PACKAGE_VERSION_NAME" -d ${{ env.CHART_DEST }}
          ARTIFACT_FULLNAME="${{ env.PACKAGED_PROJECT }}-$PACKAGE_VERSION_NAME.tgz"
          echo "ARTIFACT_FULLNAME=$ARTIFACT_FULLNAME" >> $GITHUB_ENV
          CHART_PATH="${{ env.CHART_DEST }}/${{ env.ARTIFACT_FULLNAME }}"
          echo "CHART_PATH=$CHART_PATH" >> $GITHUB_ENV
          
      - uses: actions/upload-artifact@v4
        # See docc at https://github.com/actions/upload-artifact
        with:
          name: ${{ env.ARTIFACT_FULLNAME }}
          path: ${{ env.CHART_PATH }}
          if-no-files-found: error
          retention-days: 5

      - name: Project Chart Version Helm Packaging
        run: |
          PACKAGE_APP_VERSION_NAME="$PROJECT_VERSION"
          echo "PACKAGE_APP_VERSION_NAME=$PACKAGE_APP_VERSION_NAME" >> $GITHUB_ENV
          helm package ${{ env.PACKAGED_PROJECT }} --version "$PACKAGE_APP_VERSION_NAME" -d ${{ env.CHART_DEST }}
          APP_ARTIFACT_FULLNAME="${{ env.PACKAGED_PROJECT }}-$PACKAGE_APP_VERSION_NAME.tgz"
          echo "APP_ARTIFACT_FULLNAME=$APP_ARTIFACT_FULLNAME" >> $GITHUB_ENV
          APP_CHART_PATH="${{ env.CHART_DEST }}/${{ env.APP_ARTIFACT_FULLNAME }}"
          echo "APP_CHART_PATH=$APP_CHART_PATH" >> $GITHUB_ENV

      - uses: actions/upload-artifact@v4
        # See docc at https://github.com/actions/upload-artifact
        with:
          name: ${{ env.APP_ARTIFACT_FULLNAME }}
          path: ${{ env.APP_CHART_PATH }}
          if-no-files-found: error
          retention-days: 5

      - name: Project Latest Version Helm Packaging
        run: |
          PACKAGE_ALPHA_VERSION_NAME="$PROJECT_VERSION+latest"
          echo "PACKAGE_ALPHA_VERSION_NAME=$PACKAGE_ALPHA_VERSION_NAME" >> $GITHUB_ENV
          helm package ${{ env.PACKAGED_PROJECT }} --version "$PACKAGE_ALPHA_VERSION_NAME" -d ${{ env.CHART_DEST }}
          ALPHA_ARTIFACT_FULLNAME="${{ env.PACKAGED_PROJECT }}-$PACKAGE_ALPHA_VERSION_NAME.tgz"
          echo "ALPHA_ARTIFACT_FULLNAME=$ALPHA_ARTIFACT_FULLNAME" >> $GITHUB_ENV
          ALPHA_CHART_PATH="${{ env.CHART_DEST }}/${{ env.ALPHA_ARTIFACT_FULLNAME }}"
          echo "ALPHA_CHART_PATH=$ALPHA_CHART_PATH" >> $GITHUB_ENV

      - uses: actions/upload-artifact@v4
        # See docc at https://github.com/actions/upload-artifact
        with:
          name: ${{ env.ALPHA_ARTIFACT_FULLNAME }}
          path: ${{ env.ALPHA_CHART_PATH }}
          if-no-files-found: error
          retention-days: 5

  publish:
    name: Repository Publishing
    needs: [package]
    if: success()
    permissions:
      # permits an action to upload and publish packaged files
      contents: read
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ github.token }}
      # Username to login to Dockerhub registry
      DOCKER_REGISTRY_USERNAME: ${{ secrets.DOCKERHUB_CYBNITY_ACCOUNT }}
      #DOCKER_REGISTRY_PASSWORD: ${{ secrets.DOCKER_REGISTRY_ACCESS_TOKEN }}
      # Password to login to registry
      OCI_PATH: ${{ secrets.DOCKERHUB_CYBNITY_PATH }}
      PACKAGED_CHART_PATH: ${{ needs.package.outputs.artifact_fullname }}
      PACKAGED_APP_CHART_PATH: ${{ needs.package.outputs.app_artifact_fullname }}
      PACKAGED_LATEST_CHART_PATH: ${{ needs.package.outputs.alpha_artifact_fullname }}
      # URL of registry, excluding the protocol. Required.
      registry-url: registry-1.docker.io
      # Repository in registry to push to
      repository: cybnity
    steps:
      # Required Helm tool activation allowing permission for remote repository publish
      - name: Install Helm tool
        uses: azure/setup-helm@v4

      - uses: actions/download-artifact@v4
        with:
          name: ${{ env.PACKAGED_CHART_PATH }}

      - name: Helm Registry Login
        shell: bash
        run: |
          # Login to Helm registry (DockerHub hosted)
          helm registry login -u ${{ env.DOCKER_REGISTRY_USERNAME }} -p ${{ env.OCI_PATH }} ${{ env.registry-url }}
          
      - name: Push Project Chart Commited Revision to DockerHub
        shell: bash
        run: |
          # Store sha version of artifact into Helm repository
          helm push ${{ env.PACKAGED_CHART_PATH}} oci://${{ env.registry-url }}/${{ env.repository }}

      - uses: actions/download-artifact@v4
        with:
          name: ${{ env.PACKAGED_APP_CHART_PATH }}

      - name: Push Project Chart Version to DockerHub
        shell: bash
        run: |
          # Store APP version of artifact into Helm repository
          helm push ${{ env.PACKAGED_APP_CHART_PATH}} oci://${{ env.registry-url }}/${{ env.repository }}

      - uses: actions/download-artifact@v4
        with:
          name: ${{ env.PACKAGED_LATEST_CHART_PATH }}

      - name: Push copy of Chart Version to DockerHub as Project Latest Version
        shell: bash
        run: |
          # Store LATEST copy of artifact into Helm repository
          helm push ${{ env.PACKAGED_LATEST_CHART_PATH}} oci://${{ env.registry-url }}/${{ env.repository }}
